* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #121212;
  --maroon: #ad2489;
  --green: #1ed760;
  --pink: #ffd2d7;
  --blue: #004b91;
  --yellow: #ffc862;
  --light: #a5bbd1;
  --purple: #c4b1d4;
  --grey: #919496;
}

@font-face {
  font-family: Circular-regular;
  src: url("./src/font/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: Circular-light;
  src: url("./src/font/CircularStd-Light.otf") format("opentype");
}

#main {
  font-family: Circular-regular;
  overflow: hidden;
}

#nav {
  width: 100%;
  height: 80px;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 7.5vw;
  color: var(--white);
}

#main a:hover {
  color: var(--green);
}

#main a {
  text-decoration: none;
}

#right-nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

#right-nav > a {
  color: var(--white);
}

.profile {
  display: flex;
  align-items: center;
}

.profile a {
  padding-left: 1vw;
  padding-right: 0.5vw;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 1vw;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  position: relative;
  color: var(--black);
  padding: 15px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {
  background-color: #f1f1f1;
} */

.dropdown:hover .dropdown-content {
  display: block;
}

#page1 {
  position: relative;
  width: 100vw;
  min-height: 80vh;
  background-image: url("./src/background.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top right;
  color: var(--white);
  padding-left: 8vw;
  display: flex;
  flex-direction: column;
}

#page1 h1 {
  font-size: 3.2vw;
  font-weight: 700;
  margin-top: 6vw;
}

.p1 {
  font-size: 1.2vw;
  font-weight: 400;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.p2 {
  font-size: 0.8vw;
  font-weight: 400;
  margin-top: 2vw;
}

.btn1 {
  height: 3.8vw;
  width: 17vw;
  border-radius: 50px;
  border: none;
  background-color: var(--pink);
  font-weight: 600;
  font-size: 1.2vw;
  font-family: Circular-regular;
  transition: 0.2s ease-in-out 0s;
}

.btn1:hover {
  transform: scale(1.05);
}

.btn2 {
  height: 3.8vw;
  width: 14vw;
  border-radius: 50px;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: var(--black);
  font-weight: 600;
  font-size: 1.2vw;
  margin-left: 1vw;
  font-family: Circular-regular;
  transition: 0.2s ease-in-out 0s;
}

.btn2:hover {
  transform: scale(1.05);
  background-color: var(--white);
  color: var(--black);
}

#page2 {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  /* background-color: yellow; */
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
  margin-bottom: 8vw;
}

#page2 h1 {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 1vw;
}

#page2 h5 {
  font-size: 1.8vw;
  font-weight: 400;
  margin-bottom: 2vw;
  text-align: center;
  color: var(--white);
}

#page3 {
  width: 100vw;
  min-height: 72vh;
  position: relative;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page3 h1 {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 1vw;
}

#page3 h5 {
  font-size: 1.2vw;
  font-weight: 400;
  margin-bottom: 2vw;
  text-align: center;
}

#page3 img {
  margin-bottom: 2.5vw;
}

#page3 img:last-child {
  max-width: 85vw;
}

#page4 {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  /* background-color: burlywood; */
  margin-bottom: 10vw;
}

.cards {
  padding: 1vw 8vw;
  /* display: grid;
  grid-template-columns: auto auto auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 25vw;
  min-height: 37vw;
  background-color: gray;
  border-radius: 10px;
  background-color: transparent;
  flex: 30%;
}

.card1 {
  border: 4px solid var(--pink);
  display: flex;
  flex-direction: column;
}

.card1 .box {
  background-color: var(--pink);
}

.box {
  margin-top: 1vw;
  margin-left: 1vw;
  width: 10.1vw;
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.box p {
  font-weight: 600;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading .p1 {
  font-size: 1.8vw;
  font-weight: 600;
  color: var(--white);
  margin-left: 1vw;
  line-height: 35px;
}

.heading .p2 {
  font-size: 1.3vw;
  font-weight: 600;
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 1vw;
  padding-top: 1vw;
}

.p2 > span {
  font-size: 0.8vw;
  font-weight: 400;
  margin-left: 1vw;
  margin-top: 0.5vw;
}

.card1 > ul {
  margin-left: 2vw;
  color: var(--white);
  font-weight: 400;
  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: 7vw;
}

ul > li {
  margin-top: 0.5vw;
}

.card1 > .card-btn {
  background-color: var(--pink);
  border-radius: 50px;
  height: 3.8vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-weight: 600;
  font-family: "Circular-regular";
  font-size: 1.2vw;
  margin-bottom: 1vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out 0s;
}

.card-btn:hover {
  transform: scale(1.05);
}

.card > p {
  font-size: 0.9vw;
  font-weight: 400;
  color: var(--white);
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
}

.card2 {
  border: 4px solid var(--yellow);
}

.card2 > ul {
  margin-left: 2vw;
  color: var(--white);
  font-weight: 400;
  margin-right: 1vw;
  margin-bottom: 6vw;
  margin-top: 6vw;
}

.card2 > .card-btn {
  background-color: var(--yellow);
  border-radius: 50px;
  height: 3.8vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-weight: 600;
  font-family: "Circular-regular";
  font-size: 1.2vw;
  margin-bottom: 1vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out 0s;
}

.card3 {
  border: 4px solid var(--light);
}

.card3 > ul {
  margin-left: 2vw;
  color: var(--white);
  font-weight: 400;
  margin-right: 1vw;
  margin-bottom: 1.9vw;
  margin-top: 6vw;
}

.card3 > .card-btn {
  background-color: var(--light);
  border-radius: 50px;
  height: 3.8vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-weight: 600;
  font-family: "Circular-regular";
  font-size: 1.2vw;
  margin-bottom: 1vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out 0s;
}

.card4 {
  border: 4px solid var(--purple);
  width: 25vw;
  height: 33vw;
  margin: 2vw auto;
  border-radius: 10px;
}

.card4 .box {
  background-color: var(--purple);
}

.box {
  margin-top: 1vw;
  margin-left: 1vw;
  width: 10.1vw;
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.box p {
  font-weight: 600;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading .p1 {
  font-size: 1.8vw;
  font-weight: 600;
  color: var(--white);
  margin-left: 1vw;
  line-height: 35px;
}

.heading .p2 {
  font-size: 1.3vw;
  font-weight: 600;
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 1vw;
  padding-top: 1vw;
}

span {
  font-size: 0.9vw;
  font-weight: 400;
  margin-left: 1vw;
  margin-top: 0.5vw;
}

.card4 > ul {
  margin-left: 2vw;
  color: var(--white);
  font-weight: 400;
  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;
}

ul > li {
  margin-top: 0.5vw;
}

.card4 > .card-btn {
  background-color: var(--purple);
  border-radius: 50px;
  height: 3.8vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-weight: 600;
  font-family: "Circular-regular";
  font-size: 1.2vw;
  margin-bottom: 1vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out 0s;
}

.card4 > p {
  font-size: 0.9vw;
  font-weight: 400;
  color: var(--white);
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
}

#page5 {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  /* background-color: greenyellow; */
  margin-bottom: 4vw;
}

#page5 > h1 {
  font-size: 2.5vw;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  margin-bottom: 2vw;
}

#page5 > p {
  font-size: 1.2vw;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  margin-bottom: 1.5vw;
}

.accordion {
  background-color: var(--background);
  color: var(--white);
  cursor: pointer;
  padding: 1.3vw;
  min-width: 84vw;
  border: none;
  outline: none;
  font-size: 1.3vw;
  transition: 0.4s;
  font-weight: 700;
  margin-left: 8vw;
  margin-right: 8vw;
  border-bottom: 0.12vw solid hwb(0 15% 90%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active,
.accordion:hover {
  background-color: #2a2a2a;
  text-decoration: underline;
}

/* .accordion > p > svg {
  rotate: 90deg;
} */

.rotate {
  rotate: 180deg;
}

.panel {
  background-color: #242424;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: Circular-light;
  font-size: 1.2vw;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 0.3vw;
}

.panel > p {
  padding: 1vw 1.7vw 1vw 1.5vw;
  display: flex;
  text-align: left;
  flex-direction: column;
  font-weight: 400;
}

.panel > p > span {
  font-size: 1.2vw;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 1.5vw;
}

#footer {
  width: 100vw;
  height: 90vh;
  background-color: var(--black);
  color: var(--white);
  position: relative;
  padding-top: 6vw;
}

.section1 {
  display: flex;
  flex-direction: row;
  margin-left: 8vw;
  margin-right: 8vw;
  flex: 1;
  gap: 50px;
}

.logo {
  width: 10vw;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2vw;
  padding-top: 1.5vw;
}

.column h5 {
  color: #919496;
  font-weight: 600;
  letter-spacing: 1px;
}

.column > a {
  font-size: 1.2vw;
  font-weight: 400;
  color: var(--white);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5vw;
  width: 25vw;
  padding-top: 2.5vw;
}

.socials > div {
  border-radius: 50%;
  /* background-color: var(--background); */
  background-color: #242424;
  display: flex;
  justify-content: center;
}

.bx {
  padding: 1vw 1vw;
  fill: var(--white);
  font-size: 2.2vw;
}

.bx:hover {
  color: var(--green);
}

.section2 {
  margin-left: 8vw;
  margin-right: 8vw;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  margin-top: 8vw;
}

.section2 div {
  font-size: 0.9vw;
  font-weight: 400;
}

.row1 {
  text-align: right;
  margin-bottom: 1.5vw;
}

.row1 > a {
  color: var(--grey);
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--grey);
}

.col1 {
  display: flex;
  gap: 2vw;
}

.col1 > a {
  color: var(--grey);
}
